body {
    background-color: rgb(227, 248, 255);
}

#user-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.user {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    border: 0.5px solid lightgray;
    text-align: center;
    width: 20%;
}